<div class = box_style>
<form method="post" action="AddForm">
    <input name="Name" type="text" />
    <p>
        <input type="submit" class="btn btn-outline-info" value="Додати" />
    </p>
</form>
</div>